:root{
    --colorHover: #ED6A5A;
    --bacgroudColor : #242424;
}

.header-container{
    
    background: var(--bacgroudColor);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.nav-logo{

    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.nav-logo:hover{
    color:var(--colorHover) ;
}